.team-section {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-top: 3em;
    width: 100%;
    margin-bottom: 6em;
    text-align: center;
}


.team-section h3 {
    font-size: 40px;
    font-weight: bold;
    color: #535252; 
    background: linear-gradient(90deg, rgb(213, 213, 213) 0%, rgba(120, 120, 120, 0.575) 50%, rgb(207, 207, 207) 100%);
    background-size: 200% ;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: moveGradient 5s ease-in-out infinite;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

 @keyframes moveGradient {
    0% {
      background-position: 0% 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }

.line {
    height: 3px;
    background-color: #292020;
    width: 80%;
    margin: 10px auto 30px auto;
    border-radius: 2px;
}

.team-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

.team-member {
    background: rgba(255, 255, 255, 0.216);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    min-width: 250px;
    transition: transform 0.3s ease-in-out, background 0.5s;
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouseX, 90%) var(--mouseY, 30%), #adadadd7, transparent);
    opacity: 0.7;
    transition: background 0.3s ease;
  }


.member-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid rgba(255, 255, 255, 0.4);
    transition: border-color 0.3s;
    
}

.team-member h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
}

.team-member p {
    font-size: 16px;
    color: #ddd;
    margin-top: 5px;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .team-list {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 90%;
        margin-bottom: 20px;
    }
}