.navfuncshow {
    height: 57px;
    top: 0;
}

.navfuncshow {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    transition: top .5s ease-in-out;
    width: 100%;
}

.webNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wnavLeft, .wnavRight {
    width: 35%;
}

.navRow {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 4px;
    position: relative;
    top: 18px;
}

.navfunc {
    width: 100%;
    z-index: 2147483640;
}