@font-face {
    font-family: "bstyle.bold";
    src: url("/fonts/bstyle.bold.ttf") format("truetype");
}

.bstyle-bold{
    font-family: "bstyle.bold";
}

@font-face {
    font-family: "offbit-bold";
    src: url("/fonts/OffBit-Bold.ttf") format("truetype");
}

.offbit-bold{
    font-family: "offbit-bold";
}

@font-face {
    font-family: "frontman";
    src: url("/fonts/frontman.ttf") format("truetype");
}

.frontman{
    font-family: "frontman";
}