#main {
    position: relative;
    overflow: hidden;
    background-color: black;
}

#page1 {
    height: 70vh;
    width: 100vw;
    position: relative;
    /* display: flex; */
}

#page1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 600vw;
    /* background-color: rgba(255, 0, 0, 0.33); */
    overflow-x: hidden;
    /* Set hidden for scroll pinning */
}

#page2 .horizontal {
    height: 80%;
    width: 600%; /* Enough width to allow horizontal scrolling */
    /* padding-left: 2vw; */
    padding-right: 2vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap:10vw;
    /* background-color: rgba(0, 26, 255, 0.305); */
    color: blanchedalmond;
}



.loading h4 {
    position: absolute;
    bottom: 55px;
    left: 160px;
    font-size: 1.2vw;
    letter-spacing: -1.6px;
    font-weight: 500;
    /* background: peachpuff; */
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.text h4 {
    text-transform: uppercase;
    /* letter-spacing: -2px; */
    font-size: 1.4vw;
    font-weight: 900;
    width: auto;
    color: rgb(21, 255, 0);
    height: fit-content;
}

.text h1 {
    text-transform: uppercase;
    /* letter-spacing: -6px; */
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    color: blanchedalmond;
    /* background: palegreen; */
    height: fit-content;
    height: fit-content;
}

.pcard {
    width: 1%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Make sure this is set to row (default), but good to be explicit */
    gap: 44px;
}

.pcard .img-div {
    width: 100%; /* 60% of the .card width */
    height: 100%;
    position: relative;
    /* background-color: aquamarine; */
}

.pcard .text-div {
    width: 45%; /* 40% of the .card width */
    height: 100%;
    /* background-color: brown; */
}

.img-div img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page3 {
    height: 70vh;
    width: 100vw;
    position: relative;
}

#page3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.marque {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    padding: 0.8vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10vh;
}

.marque h1 {
    display: inline-block;
    font-size: 14vw;
    text-transform: uppercase;
    font-weight: 900;
    color: beige;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "PP Supply Mono";
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media only screen and (max-width: 768px) {
    #page1 {
        height: 50vh;
        width: 100vw;
        position: relative;
        /* display: flex; */
    }
    #page3 {
        height: 50vh;
        width: 100vw;
        position: relative;
        /* display: flex; */
    }


    .pcard {
        width: 2%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row; /* Make sure this is set to row (default), but good to be explicit */
        gap: 44px;
    }

    .pcard .img-div {
        width: 90%; /* 60% of the .card width */
        height: 100%;
        position: relative;
        /* background-color: aquamarine; */
    }
}


@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}
