@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.site-footer {
	font-family: "Exo 2", sans-serif;
	background-color: transparent;
	font-size: 15px;
	line-height: 24px;
	width: 100vw;
	color: #a0a0a0;
	padding: 1rem 3rem 0.4rem 3rem;
	position: relative;
}

.site-footer .fcontainer {
	z-index: 5;
}

.site-footer .animation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	z-index: -3;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	overflow: hidden;
}

#stars,
#stars2,
#stars3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 798px 93px #FFF, 834px 1317px #FFF, 582px 831px #FFF, 738px 1179px #FFF, 355px 1290px #FFF, 743px 528px #FFF, 1437px 582px #FFF, 1641px 1926px #FFF, 305px 105px #FFF, 1082px 1886px #FFF, 1412px 1893px #FFF, 1185px 1456px #FFF, 1054px 963px #FFF, 147px 1931px #FFF, 144px 1765px #FFF, 178px 33px #FFF, 263px 1690px #FFF, 1238px 1881px #FFF, 1292px 873px #FFF, 1012px 1319px #FFF, 1510px 1862px #FFF, 1252px 1107px #FFF, 1068px 1884px #FFF, 1104px 1102px #FFF, 1795px 825px #FFF, 101px 708px #FFF, 598px 313px #FFF, 1226px 1318px #FFF, 1481px 1387px #FFF, 968px 317px #FFF, 1417px 1857px #FFF, 1369px 646px #FFF, 1336px 1309px #FFF, 399px 1707px #FFF, 879px 1543px #FFF, 414px 1305px #FFF, 1489px 1129px #FFF, 1212px 755px #FFF, 537px 1404px #FFF, 198px 1289px #FFF, 1869px 112px #FFF, 479px 682px #FFF, 1766px 75px #FFF, 1236px 426px #FFF, 1880px 1446px #FFF, 778px 1501px #FFF, 1201px 1460px #FFF, 1255px 1331px #FFF, 1010px 1338px #FFF, 1277px 836px #FFF, 853px 1276px #FFF, 182px 506px #FFF, 354px 1087px #FFF, 1385px 1635px #FFF, 1208px 1551px #FFF, 1150px 889px #FFF, 348px 1210px #FFF, 1145px 1662px #FFF, 1578px 1091px #FFF, 1125px 945px #FFF, 1880px 1195px #FFF, 164px 1742px #FFF, 858px 591px #FFF, 1534px 178px #FFF, 61px 577px #FFF, 1032px 1358px #FFF, 943px 844px #FFF, 1068px 1260px #FFF, 170px 1444px #FFF, 1221px 999px #FFF, 1275px 285px #FFF, 1848px 1846px #FFF, 898px 1665px #FFF, 847px 1654px #FFF, 487px 1975px #FFF, 1436px 1410px #FFF, 1192px 380px #FFF;
	animation: animStar 20s linear infinite;
}

#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 798px 93px #FFF, 834px 1317px #FFF, 582px 831px #FFF, 738px 1179px #FFF, 355px 1290px #FFF, 743px 528px #FFF, 1437px 582px #FFF, 1641px 1926px #FFF, 305px 105px #FFF, 1082px 1886px #FFF, 1412px 1893px #FFF, 1185px 1456px #FFF, 1054px 963px #FFF, 147px 1931px #FFF, 144px 1765px #FFF, 178px 33px #FFF, 263px 1690px #FFF, 1238px 1881px #FFF, 1292px 873px #FFF, 1012px 1319px #FFF;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 497px 477px #FFF, 857px 352px #FFF, 884px 1864px #FFF, 1377px 1118px #FFF, 1713px 1193px #FFF, 1893px 607px #FFF, 855px 1231px #FFF, 1195px 1847px #FFF, 1163px 1234px #FFF, 1993px 1369px #FFF, 515px 1670px #FFF, 993px 1255px #FFF, 665px 1461px #FFF, 632px 1453px #FFF, 358px 1193px #FFF, 1879px 1436px #FFF, 479px 679px #FFF, 1566px 964px #FFF, 391px 1245px #FFF, 68px 1970px #FFF;
	animation: animStar 40s linear infinite;
}

#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 497px 477px #FFF, 857px 352px #FFF, 884px 1864px #FFF, 1377px 1118px #FFF, 1713px 1193px #FFF, 1893px 607px #FFF, 855px 1231px #FFF, 1195px 1847px #FFF, 1163px 1234px #FFF, 1993px 1369px #FFF, 515px 1670px #FFF, 993px 1255px #FFF, 665px 1461px #FFF, 632px 1453px #FFF, 358px 1193px #FFF;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1845px 134px #FFF, 1019px 680px #FFF, 1943px 451px #FFF, 1549px 965px #FFF, 1364px 1385px #FFF, 1435px 1298px #FFF, 621px 739px #FFF, 1178px 1802px #FFF, 669px 1284px #FFF, 632px 1923px #FFF, 1447px 1824px #FFF, 129px 1846px #FFF, 1205px 712px #FFF, 1537px 1607px #FFF, 1678px 1921px #FFF, 1249px 948px #FFF, 738px 803px #FFF, 634px 1102px #FFF, 528px 514px #FFF;
	animation: animStar 60s linear infinite;
}

#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1845px 134px #FFF, 1019px 680px #FFF, 1943px 451px #FFF, 1549px 965px #FFF, 1364px 1385px #FFF, 1435px 1298px #FFF, 621px 739px #FFF, 1178px 1802px #FFF, 669px 1284px #FFF, 632px 1923px #FFF, 1447px 1824px #FFF, 129px 1846px #FFF, 1205px 712px #FFF, 1537px 1607px #FFF, 1678px 1921px #FFF;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}

@media (max-width: 738px) {
	.site-footer {
		padding: 2rem;
		width: 100vw;
		overflow-x: hidden;
	}
}

.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5;
	margin: 2vh 0vh;
}

@media (max-width: 738px) {
	.site-footer hr {
		margin: 0px 0px 20px -12vw;
		width: 104vw;
	}
}

.site-footer h6 {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
	margin-bottom: 1vh;
}

@media (max-width: 738px) {
	.site-footer h6 {
		margin-bottom: 2vh;
		font-size: 1.5rem;
	}
}

.site-footer a {
	color: #a0a0a0;
	text-align: center;
}

.site-footer a:hover {
	color: #36c;
	text-decoration: none;
}

@media (max-width: 738px) {
	.site-footer a {
		font-size: 1.1rem;
	}
}

.site-footer .footer-links {
	padding-left: 0;
	list-style: none;
}

.site-footer .footer-links li {
	display: block;
	text-align: center;
}

.site-footer .footer-links li a {
	text-align: center;
	color: #a0a0a0;
}

.site-footer .footer-links li a:active,
.site-footer .footer-links li a:focus,
.site-footer .footer-links li a:hover {
	color: #00bdff;
	text-decoration: none;
}

.site-footer .footer-links.inline li {
	display: inline-block;
}

.site-footer .social-icons {
	text-align: right;
	padding-left: 0;
	list-style: none;
}

@media (max-width: 738px) {
	.site-footer .social-icons {
		text-align: center;
		margin-top: 3vh;
	}
}

.site-footer .social-icons img {
	height: 2rem;
	width: 2rem;
	opacity: 0.4;
	transition: all 0.1s linear;
}

.site-footer .social-icons img:hover {
	opacity: 0.8;
}

.site-footer .social-icons img:active {
	transform: scale(0.9);
	opacity: 1;
}

.site-footer .social-icons li {
	display: inline-block;
	margin-bottom: 4px;
	font-family: "orbitron";
}

.site-footer .social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #d3d3d3;
	font-weight: 700;
	font-size: 13px;
}

@media (max-width: 738px) {
	.site-footer .social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}

.site-footer .social-icons a {
	color: #d3d3d3;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 2rem;
	height: 2rem;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	transition: all 0.2s linear;
}

.site-footer .social-icons a.size-sm {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px;
}

.site-footer .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.site-footer .copyright-text {
	margin: 0;
	text-align: center;
}

.site-footer .copyright-text a {
	color: #2ba7f3;
}

.site-footer .copyright-text a:hover {
	color: #00bdff;
}

@media (max-width: 738px) {
	.site-footer .copyright-text {
		text-align: center;
	}
}

.site-footer .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 738px) {
	.site-footer .row {
		flex-direction: column;
	}
}

.site-footer .row .about {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	border-right: 1px solid #bbb;
	padding-right: 3vw;
	margin-right: -3vw;
}

@media (max-width: 738px) {
	.site-footer .row .about {
		width: 100%;
		padding-right: 0vw;
		margin-right: 0vw;
		border-right: none;
		border-bottom: 1px solid #bbb;
		margin-bottom: 2vh;
		padding-bottom: 2vh;
		font-size: 1.1rem;
		line-height: 1.2rem;
		height: auto;
	}
}

.site-footer .row .about .brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.site-footer .row .about .brand .tf-logo {
	height: 70px;
	width: 70px;
	color: white;
	border-radius: 0.6rem;
	border-radius: 50%;
	margin-right: 2rem;
}

.site-footer .row .about .brand .brand-name {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: #cbcbcb;
}

@media (max-width: 738px) {

	.site-footer .sub-foot {
		margin-bottom: 1rem;
	}

	.site-footer .row .about .brand {
		flex-direction: column;
	}

	.site-footer .row .about .brand .tf-logo {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.site-footer .row .about .brand .brand-name {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
}