@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scrollX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@font-face {
    font-family: "bstyle.bold";
    src: url("/bstyle.bold.ttf") format("truetype");
}


.sponsors-container {
    width: 100vw;
    height: 95vh;
    padding-top: 5vh;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors-container .main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .title {
    width: 100vw;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-family: "bstyle.bold";
}

.main .slider {
    display: flex;
    overflow: hidden;
    user-select: none;
    width: 100vw;
    height: 40vh;
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 10%,
        hsl(0 0% 0% / 1) 90%,
        hsl(0 0% 0% / 0)
    );
}

.main .slider .left,
.main .slider .right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    animation: scrollX 20s linear infinite;
}

.main .slider .right {
    animation-direction: reverse;
    animation-delay: -3s;
}

.main .slider .images {
    position: relative;
    display: grid;
    place-items: center;
    width: 20vw;
    height: 30vh;
    background: rgba(255, 255, 255, 0.417);
    margin-right: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.main .slider .images img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16/9;
    padding: 5px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.417);
    mix-blend-mode: multiply;
    animation: fadeInUp 0.6s ease-in-out both;
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.main .slider .images:hover {
    transform: rotateX(15deg) rotateY(5deg) translateY(-6px) translateZ(-15px) skewX(0.5deg) scale(1.05); /* Adjusted for 3D depth effect */
}

.main .slider .images:before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent, transparent);
    width: 700px;
    height: 700px;
    opacity: 0;
    transition: opacity 0.5s;
}

.main .slider .images:hover:before {
    opacity: 1;
}

@media (max-width: 1024px) {
    .main .slider .images {
        height: 25vh;
        width: 40vw;
    }
}